.spot_details_container {
    margin-top: 125px;
}

.spot_details_img {
    height: 200px;
    width: 200px;
}

.reviews_header {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 20px;
}
