.create_booking_tile {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(193, 193, 193);
    border-radius: 10px;
    position: sticky;
    top: 50px;
    margin-bottom: 20px;
    width: 80%;
}

.create_booking_tile_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.create_booking_tile_head_right {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.create_booking_tile_dates{
    display: flex;
    gap: 5px;
}


.input_label {
    background-color: white;
    padding: 5px;
    position: absolute;
    left: 5%;
    top: 10%;
    color: rgb(108, 108, 108);
}

.create_booking_tile_checkin,
.create_booking_tile_checkout{
    width: 50%;
    font-size: 13px;

}

#create_booking_tile_checkin_input,
#create_booking_tile_checkout_input {
    height: 50px;
    font-size: 13px;
    margin-bottom: 20px;
}

#create_booking_tile_checkin_input {
    border-radius: 10px 0 0 0;
}

#create_booking_tile_checkout_input {
    border-radius: 0 10px 0 0;
}

#checkin_label,
#checkout_label {
    color: black;
    font-size: 13px;
    z-index: 2;
}

#create_booking_tile_checkin_input:focus,
#create_booking_tile_checkout_input:focus {
    z-index: 1;
}



.fees_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.fees_item,
.create_booking_tile_total_fees {
    display: flex;
    justify-content: space-between;
}

.create_booking_tile_total_fees {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
