.booking_fees_confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.booking_confirmed_wrapper{
    display: flex;
    justify-content: center;
}

.booking_confirmed_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 1000px;
    border: 1px solid red;
}

.booking_confirmed_container > div {
    width: 50%;
}
