.booking_confirmed_wrapper{
    display: flex;
    justify-content: center;
}

.booking_confirmed_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 1000px;
}

.booking_confirmed_container > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 50px;
}

/* left side */
.booking_confirmed_left_details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-bottom: 40px;
}

.booking_confirmed_left > h1 {
    margin-bottom: 60px;
}

.booking_confirmed_left_details_head {
    font-size: 24px;
}

.booking_confirmed_left_dates_head,
.booking_confirmed_left_guests_head {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.booking_confirmed_left_dates,
.booking_confirmed_left_guests {
    font-size: 15px;
}


/* right side */
.booking_confirmed_right_tile_container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* box-shadow: 0 0 10px 0 rgb(193, 193, 193); */
    border: 1px solid rgb(193, 193, 193);
    border-radius: 10px;
    position: sticky;
    top: 50px;
    width: 80%;
    margin-top: 75px;
}

.booking_confirmed_right_tile_details_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-bottom: 20px;
}

.booking_confirmed_right_tile_details_head {
    font-size: 24px;
    margin-bottom: 15px;
}


.booking_confirmed_right_total_fee {
    padding-top: 20px;
}

.booking_confirmed_right_tile_base_fee,
.booking_confirmed_right_tile_cleaning_fee,
.booking_confirmed_right_tile_service_fee,
.booking_confirmed_right_total_fee {
    display: flex;
    justify-content: space-between;
}
