.create_form {
    border: 1px solid black;
    width: 50%;
    border-radius: 10px;
}

.input_description,
.input_img_urls {
    resize: none;
    width: 90%;
    height: 125px;
    padding: 50px 10px 0px;
    border: 2px solid rgb(193, 193, 193);
    font-size: 20px;
}

.input_img_urls,
.input_prev_img {
    font-size: 13px;
}

.create_btn {
    margin: 30px 0;
    padding: 10px;
    color: white;
    background-color: rgb(255, 56, 95);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}

.input_file {
    font-size: 15px;
    width: 90%;
    height: 75px;
    padding: 15px 10px 0px;
    border: none;
}

.add_imgs_spot_form {
    margin-top: 10px;
    gap: 5px;
}

.add_imgs_spot_head {
    font-size: 22px;
    margin-bottom: 25px;
}
