.signup_form {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 50%;
    min-width: 50%;
    align-self: center;
    padding: 0px 20px 20px;
}

.welcome {
    padding: 15px;
    margin-top: 20px;
    font-size: 25px;
}

.signup_btn {
    width: 95%;
    padding: 10px;
    color: white;
    background-color: rgb(255, 56, 95);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
}

.signup_btn:hover {
    background-color: rgb(255, 70, 95);
}
