* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    border-bottom: 1px solid rgb(193, 193, 193);
    background-color: white;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    padding: 10px 0px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-self: flex-end;
    position: relative;
}

.favicon {
    position: absolute;
    left: 50px;
}

.user_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-left: 10px;
    font-size: 25px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    color: rgb(152, 152, 152);
}

.menu_icon{
    font-size: 15px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 120px;
    top: 50px;
    padding:  10px 20px;
    background-color: white;
    /* border: 1px solid rgb(193, 193, 193); */
    box-shadow: 0 0 10px 0 rgb(193, 193, 193);
    border-radius: 5px;
    list-style: none;
    z-index: 1;
    width: 200px;
    /* border: 1px solid black; */
}
.logout_btn {
    color: white;
    background-color: rgb(255, 56, 95);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

/* .logout_btn_container {
    align-self: center;
} */

.become-host-container,
.sign-up-link,
.home-link {
    text-decoration: none;
    padding: 11px 10px;
    margin-right: 15px;
    border-radius: 20px;
    font-size: 13px;
}

.become-host-container:hover,
.home-link:hover,
.sign-up-link:hover {
    background-color: rgb(243, 243, 243);
}


.become-host-container:visited,
.home-link:visited,
.reviews-link:visited,
.reviews-link,
.create-listing:visited,
.create-listing  {
    color: black;
    text-decoration: none;
}

.reviews-link:hover,
.create-listing:hover {
    text-decoration: underline;
}

.sign-up-link:visited,
.sign-up-link {
    /* color: rgb(255, 56, 95);
    border: 1px solid rgb(255, 56, 95); */
    color: black;
    border: 1px solid black;
    margin-right: 75px;
}

.sign-up-link:hover {
    background-color: rgb(248, 248, 248);
}

.user_icon_container {
    margin-right: 75px;
}

.email-dropdown {
    margin-top: 5px;
    font-size: 12px;
}

.reviews-link,
.create-listing {
    margin-top: 8px;
    font-size: 14px;
}

.reviews-link {
    margin-bottom: 30px;
}

hr {
    width: 100%;
    color: rgb(193, 193, 193);
}
